<h2><%= @user %> <%= l(:label_worktime_summary) %></h2>

<form accept-charset="UTF-8" method="get">
  <fieldset><legend><%= l(:label_worktime_filter) %></legend>
    <label for="started"><%= l(:label_worktime_filter_from) %>:</label>
    <input id="started" name="started" size="30" type="text">
    <label for="finished"><%= l(:label_worktime_filter_to) %>:</label>
    <input id="finished" name="finished" size="30" type="text">
    <input class="small" type="submit" value="<%= l(:label_worktime_filter_apply) %>">
  </fieldset>
</form>

<% daytotal = 0 %>
<% subtotal = 0 %>
<% date_listed = 0 %>
<div class="autoscroll">
  <table width="100%" class="list worktime-log-table">
    <thead>
        <tr>
            <th><%= l(:label_worktime_th_project) %></th>
            <th><%= l(:label_worktime_th_issue) %></th>
            <th><%= l(:label_worktime_th_id) %></th>
            <th><%= l(:label_worktime_th_start) %></th>
            <th><%= l(:label_worktime_th_end) %></th>
            <th><%= l(:label_worktime_th_total) %></th>
        </tr>
    </thead>
    <tbody>
      <% @summary.each do |log| %>
        <% if Time.at(log.finished).gmtime.strftime('%A, %B %e / %Y') != date_listed %>
          <% date_listed = Time.at(log.finished).gmtime.strftime('%A, %B %e / %Y') %>

          <% if daytotal > 0 %>
            <tr>
              <td colspan="5">&nbsp;</td>
              <td><span class="day-total"><strong><%= to_time(daytotal) %></strong></span></td>
            </tr>
            <% daytotal = 0 %>
          <% end %>

          <tr>
            <th colspan="6"><%= date_listed %></th>
          </tr>

        <% end %>

        <tr>
          <td><%= link_to(log.project_name, controller: 'projects', action: 'show', id: log.project_identifier) %></td>
          <td><%= link_to(log.subject, controller: 'issues', action: 'show', id: log.issue_id) %></td>
          <td><%= link_to(log.issue_id, controller: 'issues', action: 'show', id: log.issue_id) %></td>
          <td><%= Time.at(log.started).gmtime.strftime('%H:%M:%S') %></td>
          <td><%= Time.at(log.finished).gmtime.strftime('%H:%M:%S') %></td>
          <td><%= to_time(log.total) %></td>
        </tr>
        <% daytotal += log.total %>
        <% subtotal += log.total %>
      <% end %>

      <% if daytotal > 0 %>
        <tr>
          <td colspan="5">&nbsp;</td>
          <td><span class="day-total"><strong><%= to_time(daytotal) %></strong></span></td>
        </tr>
        <% daytotal = 0 %>
      <% end %>

    </tbody>
  </table>
  <h3 class="time-subtotal"><%= to_time(subtotal) %></h3>
</div>